.contact {
    .container {
        overflow: hidden;
    }
}

.contact-map {
    width: 100%;
    height: 600px;
    display: block;
}

.adress-and-form {
    display: flex;
    justify-content: center;
    margin: 80px 0 80px 0;
    @media(max-width: 992px) {
        flex-direction: column;
        margin: 40px 0 40px 0;
    }
    @media(max-width: 992px) {
        margin-top: 20px;
    }
}

.adress {
    display: flex;
    flex-direction: column;
    width: 414px;
    margin-right: 153px;
    padding-top: 127px;
    @media(max-width: 992px) {
        padding-top: 0;
        margin-right: 0;
        width: 514px;
    }
    @media(max-width: 576px) {
        max-width: 335px;
    }
    @media(max-width: 374px) {
        max-width: 282px;
    }
    .adress-text {
        border-bottom: 4px solid #E6E6F0;
        padding-bottom: 20px;
        font-size: 21px;
        color: $darkkblue;
        font-weight: 500;
    }
    .tel {
        font-size: 21px;
        padding: 20px 0 20px;
        color: #46466E;
        font-weight: 500;
    }
    .mail-contact {
        border-bottom: 4px solid #E6E6F0;
        font-size: 21px;
        color: $blue;
        padding-bottom: 35px;
    }
    .fb-img-text {
        display: flex;
        align-items: flex-end;
        padding-top: 20px;
        @media(max-width: 992px) {
            margin-bottom: 40px;
        }
        .fb {
            font-size: 12px;
            color: $blue;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-weight: 600;
            padding-left: 10px;
        }
    }
    a {
        text-decoration: none;
    }
    a:hover {
        color: #F0145A;
        font-weight: 600;
    }
    .fb:hover {
        color: #F0145A;
    }
}

.form {
    max-width: 527px;
    max-height: 576px;
    display: flex;
    flex-direction: column;
    background-color: #F5F5FA;
    padding: 20px;
    border-radius: 12px;
    .experement {
        @media(max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    @media(max-width: 576px) {
        margin-left: -12px;
        margin-right: -12px;
        border-radius: 0;
        max-width: 576px;
    }
    .weight {
        width: 487px;
        @media(max-width: 768px) {
            width: 480px;
        }
        @media(max-width: 576px) {
            width: 450px;
        }
        @media(max-width: 500px) {
            width: 350px;
        }
        @media(max-width: 390px) {
            width: 335px;
        }
        @media(max-width: 374px) {
            width: 286px;
        }
    }
    .heading {
        font-weight: bold;
        font-size: 32px;
        background: -webkit-linear-gradient(45deg, #F0145A, #EF8080);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @media(max-width: 576px) {
            font-size: 22px;
        }
    }
    .heading-second {
        font-size: 14px;
        color: $grey;
        margin: 12px 0 0 12px;
        letter-spacing: 1px;
    }
    input,
    textarea {
        border-radius: 8px;
        border: 0;
        padding-left: 10px;
    }
    input {
        padding-top: 11.5px;
        padding-bottom: 11.5px;
    }
    textarea {
        padding-top: 10px;
        margin-top: 20px;
        resize: none;
    }
    .name {
        margin-top: 12px;
    }
    .tel {
        margin-top: 12px;
    }
    .email {
        margin-top: 20px;
        @media(max-width: 576px) {
            margin-top: 8px;
        }
    }
    .for-button {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .btn {
        background-color: $blue;
        font-weight: 500;
        color: white;
        font-size: 14px;
        display: inline-block;
        padding: 16px 71px 15px;
        border-radius: 12px;
        cursor: pointer;
        border: none;
        position: relative;
        max-width: 100%;
        text-decoration: none;
        transition: .3s;
        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    }
    .btn:hover {
        background-color: #063a60;
    }
    input::placeholder {
        font-size: 18px;
    }
    textarea::placeholder {
        font-size: 18px;
    }
}