@import "variables";
@import "header";
@import "team";
@import "footer";
@import"about";
@import"team-member";
@import"contact";
@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Bold.woff') format('woff'), url('../fonts/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Italic.woff') format('woff'), url('../fonts/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Medium.woff') format('woff'), url('../fonts/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-MediumItalic.woff') format('woff'), url('../fonts/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Norms';
    src: url('../fonts/TTNorms-Regular.woff') format('woff'), url('../fonts/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'TT Norms', sans-serif;
    hyphens: auto;
}

.intro-sect {
    background: linear-gradient(42.01deg, $darkkblue 14.33%, $darkkblue 51.39%, #7A425E 87.53%);
    padding: 180px 0;
}

.carousel {
    margin: 40px 0 80px;
    &-indicators {
        bottom: -60px;
        [data-bs-target] {
            background-color: $blue;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            margin: 0 7px;
        }
    }
}

.home-carousel {
    .carousel-item {
        background-color: $lightgrey;
        border-radius: 12px;
        @media(max-width: 768px) {
            border-radius: 30px;
        }
        @media(max-width: 576px) {
            border-radius: 12px;
        }
    }
    .carusel-img {
        max-width: 100%;
        @media(max-width: 768px) {
            border-top-right-radius: 2%;
            border-bottom-right-radius: 2%;
        }
        @media(max-width: 576px) {
            display: none;
        }
    }
}

.h3-cl-sect {
    display: flex;
    color: $darkkblue;
    font-size: 14px;
    margin-bottom: 30px;
    font-weight: 700;
    justify-content: center;
}

.clients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    img {
        width: 100%;
    }
    @media(max-width:1280px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media(max-width:768px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.section-heading {
    font-weight: bold;
    font-size: 42px;
    background: -webkit-linear-gradient(45deg, #F0145A, #EF8080);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media(max-width: 1200px) {
        font-size: 32px;
    }
    @media(max-width: 992px) {
        font-size: 23px;
    }
    @media(max-width: 768px) {
        font-size: 32px;
    }
}

.indentation-text {
    margin: 40px 0 0;
    @media(max-width: 992px) {
        margin: 20px 0 0;
    }
    @media(max-width: 768px) {
        margin: 20px 0 20px;
        padding: 0 15px;
    }
    @media(max-width: 576px) {
        margin: 20px 0 18px;
    }
}

.upper-text {
    color: $blue;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
}

.upper-text::after {
    content: "\276F";
    color: $blue;
    margin-left: 5px;
}

.carousel-info {
    display: flex;
    img {
        display: none;
        @media(max-width: 576px) {
            display: inline-block;
            max-height: 60px;
        }
    }
}

.carousel-inner {
    a {
        text-decoration: none;
    }
    .carousel-info-name,
    .carousel-info-role {
        color: #B3B3BA;
        margin: 0;
    }
    .carousel-info-name {
        font-size: 18px;
        margin-top: 5px;
    }
    .carousel-info-role {
        margin-top: 5px;
    }
}

.justcont {
    @media(max-width: 576px) {
        margin-left: 10px;
    }
}

.home {
    footer {
        border-top: 4px solid;
        border-color: #E6E6F0;
        border-radius: 0;
    }
}